*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
body{
    font-family: "Wittgenstein", serif;
}
/*banner section style here*/

.banner-conatiner{
 width: auto;
 
 min-height:650px ;
 margin-top: 50px;
 background-image: url(assets/Hero-bg.png);
 background-position: center;
 
 background-size: cover;

}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;



}
.font{
    font-size: 50px;
}
.web-section{
    
width: 1140px;
height: 1393px;
border: 2px solid red;
margin: 0 auto;
margin-top:90px ;
}
